In [1]:
import pandas as pd
import numpy as np

In [2]:
n = 5
d = {
  "id":     np.random.randint(100, 999, n),
  "weight": np.random.normal(70, 20, n),
  "height": np.random.normal(170, 15, n),
  "date":   pd.date_range(start='2/1/2022', periods=n, freq='D')
}
df = pd.DataFrame(d)

In [3]:
df.loc[0:2, "id":"height"]

    id      weight      height
0  268   23.883857  165.839071
1  421  100.123965  169.754046
2  732   50.744425  147.183125

In [4]:
1+1

2