In [1]:
import pandas as pd
import numpy as np

In [10]:
n = 5
d = {
  "id":     np.random.randint(100, 999, n),
  "weight": np.random.normal(70, 20, n),
  "height": np.random.normal(170, 15, n),
  "date":   pd.date_range(start='2/1/2022', periods=n, freq='D')
}
df = pd.DataFrame(d)

In [1]:
print("Hello world!")

Hello world!

In [12]:
df.loc[0:2, "weight":"height"]

      weight      height
0  66.224238  151.530481
1  58.432636  175.469227
2  82.603188  177.866202