In [1]:
import numpy as np
import pandas as pd

df = pd.read_csv("https://sta663-sp22.github.io/slides/data/us_rent.csv")

In [9]:
( df
  .pivot(index="name", columns="variable", values="estimate")
  .assign(
      ratio = lambda d: d.income / d.rent
  )
  .reset_index()
  .sort_values("ratio", ascending = True)
)

variable                  name   income    rent      ratio
11                      Hawaii  32453.0  1507.0  21.534837
4                   California  29454.0  1358.0  21.689249
9                      Florida  25952.0  1077.0  24.096565
32                    New York  31057.0  1194.0  26.010888
1                       Alaska  32940.0  1200.0  27.450000
37                      Oregon  27389.0   988.0  27.721660
47                    Virginia  32545.0  1166.0  27.911664
30                  New Jersey  35075.0  1249.0  28.082466
2                      Arizona  27517.0   972.0  28.309671
20                    Maryland  37147.0  1311.0  28.334859
28                      Nevada  29019.0  1017.0  28.533923
5                     Colorado  32401.0  1125.0  28.800889
48                  Washington  32318.0  1120.0  28.855357
10                     Georgia  27024.0   927.0  29.152104
7                     Delaware  31560.0  1076.0  29.330855
21               Massachusetts  34498.0  1173.0  29.410060
45                        Utah  27928.0   948.0  29.459916
44                       Texas  28063.0   952.0  29.477941
31                  New Mexico  24457.0   809.0  30.231150
8         District of Columbia  43198.0  1424.0  30.335674
18                   Louisiana  25086.0   825.0  30.407273
41              South Carolina  25454.0   836.0  30.447368
24                 Mississippi  22766.0   740.0  30.764865
46                     Vermont  29351.0   945.0  31.059259
33              North Carolina  26482.0   844.0  31.376777
6                  Connecticut  35326.0  1123.0  31.456812
43                   Tennessee  25453.0   808.0  31.501238
29               New Hampshire  33172.0  1052.0  31.532319
40                Rhode Island  30210.0   957.0  31.567398
12                       Idaho  25298.0   792.0  31.941919
13                    Illinois  30684.0   952.0  32.231092
38                Pennsylvania  28923.0   885.0  32.681356
22                    Michigan  26987.0   824.0  32.751214
0                      Alabama  24476.0   747.0  32.765730
19                       Maine  26841.0   808.0  33.219059
3                     Arkansas  23789.0   709.0  33.552891
36                    Oklahoma  26207.0   766.0  34.212794
25                    Missouri  26999.0   784.0  34.437500
17                    Kentucky  24702.0   713.0  34.645161
49               West Virginia  23707.0   681.0  34.812041
14                     Indiana  27247.0   782.0  34.842711
26                     Montana  26249.0   751.0  34.952064
35                        Ohio  27435.0   764.0  35.909686
23                   Minnesota  32734.0   906.0  36.130243
16                      Kansas  29126.0   801.0  36.362047
50                   Wisconsin  29868.0   813.0  36.738007
51                     Wyoming  30854.0   828.0  37.263285
27                    Nebraska  30020.0   773.0  38.835705
15                        Iowa  30002.0   740.0  40.543243
42                South Dakota  28821.0   696.0  41.409483
34                North Dakota  32336.0   775.0  41.723871
39                 Puerto Rico      NaN   464.0        NaN